:root {
  --selective-yellow: hsl(42, 94%, 55%);
  --eerie-black-1: hsl(0, 0%, 9%);
  --eerie-black-2: hsl(180, 3%, 7%);
  --quick-silver: hsl(0, 0%, 65%);
  --radical-red: hsl(351, 83%, 61%);
  --light-gray: hsl(0, 0%, 80%);
  --isabelline: hsl(36, 33%, 94%);
  --gray-x-11: hsl(0, 0%, 73%);
  --kappel_15: hsla(170, 75%, 41%, 0.15);
  --platinum: hsl(0, 0%, 90%);
  --gray-web: hsl(0, 0%, 50%);
  --black_80: hsla(0, 0%, 0%, 0.8);
  --white_50: hsla(0, 0%, 100%, 0.5);
  --black_50: hsla(0, 0%, 0%, 0.5);
  --black_30: hsla(0, 0%, 0%, 0.3);
  --kappel: hsl(170, 75%, 41%);
  --white: hsl(0, 0%, 100%);
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
  --gradient: linear-gradient(-90deg,hsl(151, 58%, 46%) 0%,hsl(170, 75%, 41%) 100%);
  --ff-league_spartan: 'League Spartan', sans-serif;
  --ff-poppins: 'Poppins', sans-serif; 
  --fs-1: 4.2rem;
  --fs-2: 3.2rem;
  --fs-3: 2.3rem;
  --fs-4: 1.8rem;
  --fs-5: 1.5rem;
  --fs-6: 1.4rem;
  --fs-7: 1.3rem;
  --fw-500: 500;
  --fw-600: 600;
  --section-padding: 75px;
  --shadow-1: 0 6px 15px 0 hsla(0, 0%, 0%, 0.05);
  --shadow-2: 0 10px 30px hsla(0, 0%, 0%, 0.06);
  --shadow-3: 0 10px 50px 0 hsla(220, 53%, 22%, 0.1);
  --radius-pill: 500px;
  --radius-circle: 50%;
  --radius-3: 3px;
  --radius-5: 5px;
  --radius-10: 10px;
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}
/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li { list-style: none; }
a,
img,
span,
data,
input,
button,
ion-icon { display: block; }
a {
  color: inherit;
  text-decoration: none;
}
img { height: auto; }
input,
button {
  border: none;
  font: inherit;
}
input { width: 100%; }
button { cursor: pointer; }
ion-icon { pointer-events: none; }
address { font-style: normal; }
html {
  
  font-family: var(--ff-poppins);
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background-color: var(--white);
  color: var(--gray-web);
  font-size: 1.6rem;
  line-height: 1.75;
}
:focus-visible { outline-offset: 4px; }
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }
::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }
::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }
/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
.section { padding-block: var(--section-padding); }
.shape {
  position: absolute;
  display: none;
}
.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.h1,
.h2,
.h3 {
  color: var(--eerie-black-1);
  font-family: var(--ff-league_spartan);
  line-height: 1;
}
.h1,
.h2 { font-weight: var(--fw-600); }
.h1 { font-size: var(--fs-1); }
.h2 { font-size: var(--fs-2); }
.h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
}
.section-title {
  --color: var(--radical-red);
  text-align: center;
}
.section-title .span {
  display: inline-block;
  color: var(--kappel);
}
.btn {
  background-color: var(--kappel);
  color: var(--white);
  font-family: var(--ff-league_spartan);
  font-size: var(--fs-4);
  display: flex;
  align-items: center;
  gap: 7px;
  max-width: max-content;
  padding: 10px 20px;
  border-radius: var(--radius-5);
  overflow: hidden;
}
.has-before,
.has-after {
  position: relative;
  z-index: 1;
}
.has-before::before,
.has-after::after {
  position: absolute;
  content: "";
}
.btn::before {
  inset: 0;
  background-image: var(--gradient);
  z-index: -1;
  border-radius: inherit;
  transform: translateX(-100%);
  transition: var(--transition-2);
}
.btn:is(:hover, :focus)::before { transform: translateX(0); }
.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-subtitle {
  font-size: var(--fs-5);
  text-transform: uppercase;
  font-weight: var(--fw-500);
  letter-spacing: 1px;
  text-align: center;
  margin-block-end: 15px;
}
.section-text {
  font-size: var(--fs-5);
  text-align: center;
  margin-block: 15px 25px;
}
.grid-list {
  display: grid;
  gap: 30px;
}
.category-card,
.stats-card { background-color: hsla(var(--color), 0.1); }
:is(.course, .blog) .section-title { margin-block-end: 40px; }
/*-----------------------------------------------------------------------------------*\ #HEADER\*-------------------------------------------------------------------*/
/* Start Header */
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: 70px;
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  text-decoration: none;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--kappel);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  color: var(--kappel);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--kappel);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  width: 300px;
  max-height:400px;
}
@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}
.header .mega-menu .links li a {
  color: rgb(119, 119, 119);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.header .mega-menu .links li i {
  color: var(--kappel);
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
/* End Header */

/*-----------------------------------------------------------------------------------*\ #HEADER\*-------------------------------------------------------------------*/


/*-----------------------------------*\
#COURSE
\*-----------------------------------*/

.course { background-color: var(--isabelline); }

.course-card {
  position: relative;
  background-color: var(--white);
  border-radius: var(--radius-5);
  overflow: hidden;
}

.course-card .img-cover { transition: var(--transition-2); }

.course-card:is(:hover, :focus-within) .img-cover { transform: scale(1.1); }

.course-card :is(.abs-badge, .badge) {
  font-family: var(--ff-league_spartan);
  border-radius: var(--radius-3);
}

.course-card .abs-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--selective-yellow);
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1;
  padding: 6px 8px;
  padding-block-end: 3px;
}

.course-card .abs-badge ion-icon {
  font-size: 18px;
  margin-block-end: 5px;
  --ionicon-stroke-width: 50px;
}

.course-card .card-content { padding: 25px; }

.course-card .badge {
  background-color: var(--kappel_15);
  max-width: max-content;
  text-decoration: none;
  color: var(--kappel);
  line-height: 25px;
  padding-inline: 10px;
}

.course-card .card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-block: 15px 8px;
  transition: var(--transition-1);
}

.course-card .card-title:is(:hover, :focus) { color: var(--kappel); }

.course-card :is(.wrapper, .rating-wrapper, .card-meta-list, .card-meta-item) {
  display: flex;
  align-items: center;
}
.course-card a {
  text-decoration: none;
}

.course-card .wrapper { gap: 10px; }

.course-card .rating-wrapper { gap: 3px; }

.course-card .rating-wrapper ion-icon { color: var(--selective-yellow); }

.course-card .rating-text {
  color: var(--eerie-black-1);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
}

.course-card .price {
  color: var(--radical-red);
  font-family: var(--ff-league_spartan);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  margin-block: 8px 15px;
}

.course-card .card-meta-list { flex-wrap: wrap; }

.course-card .card-meta-item {
  position: relative;
  gap: 5px;
}

.course-card .card-meta-item:not(:last-child)::after {
  content: "|";
  display: inline-block;
  color: var(--platinum);
  padding-inline: 10px;
}

.course-card .card-meta-item ion-icon {
  color: var(--quick-silver);
  --ionicon-stroke-width: 50px;
}

.course-card .card-meta-item .span {
  color: var(--eerie-black-1);
  font-size: var(--fs-7);
}

.course .btn {
  margin-inline: auto;
  margin-block-start: 60px;
}


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {
  /**
   * REUSED STYLE
   */
  .container {
    max-width: 520px;
    width: 100%;
    margin-inline: auto;
  }
  .grid-list { grid-template-columns: 1fr 1fr; }
  :is(.course, .blog) .grid-list { grid-template-columns: 1fr; }
  /**
   * HEADER
   */
  .header .container { max-width: unset; }
  .header-actions { gap: 30px; }
}
/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {
  /**
   * CUSTOM PROPERTY
   */
  :root {
    /**
     * typography
     */
    --fs-1: 4.6rem;
    --fs-2: 3.8rem;
  }
  /**
   * REUSED STYLE
   */
  .container { max-width: 720px; }
  .btn { padding: 15px 30px; }
  :is(.course, .blog) .grid-list { grid-template-columns: 1fr 1fr; }
  /**
   * HEADER
   */
  .header .container { padding-inline: 30px; }
  .header .btn {
    display: flex;
    padding: 10px 30px;
    margin-inline: 20px;
  }
}
/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {
  /**
   * CUSTOM PROPERTY
   */
  :root {
    /**
     * typography
     */
    --fs-1: 5.5rem;
    --fs-2: 4.5rem;
  }
  /**
   * REUSED STYLE
   */
  .container { max-width: 960px; }
  .grid-list { grid-template-columns: repeat(4, 1fr); }
  :is(.course, .blog) .grid-list { grid-template-columns: repeat(3, 1fr); }
}
/**
 * responsive for large than 1200px screen
 */
@media (min-width: 1200px) {
  /**
   * CUSTOM PROPERTY
   */
  :root {
    /**
     * typography
     */
    --fs-1: 6.5rem;
    /**
     * spacing
     */

    --section-padding: 120px;
  }
  /**
   * REUSED STYLE
   */
  .container { max-width: 1185px; }
  .shape { display: block; }
  /**
   * HEADER
   */

  .header-action-btn:last-child,
  .navbar .wrapper,
  .overlay { display: none; }

  .header.active {
    transform: translateY(-100%);
    animation: slideIn 0.5s ease forwards;
  }

  @keyframes slideIn {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
  }
  .navbar,
  .navbar.active { all: unset; }
  .navbar-list {
    display: flex;
    gap: 50px;
    padding: 0;
  }
  .navbar-item:not(:last-child) { border-block-end: none; }
  .navbar-link {
    color: var(--eerie-black-1);
    padding-block: 20px;
  }
  .header .btn { margin-inline-end: 0; }
}

/*  **************************************************************** carousel *************************************************************************************************/
.carousel {
  width: 99.1vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}
.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}
.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}
.carousel-paragraph {
  position: absolute;
  top: 46%;
  left: 31%; /* Start position from the right */
  transform: translate(-50%, -50%);
  background-color: hsl(170, 75%, 41%);
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 2;
}
@media (max-width: 767px) {
  .carousel-paragraph {
    font-size: 14px; /* Adjust the font size for smaller screens */
    padding: 5px; /* Adjust padding accordingly */
    top: 50%; /* Reposition the element if needed */
    left: 50%; /* Reposition the element if needed */
    transform: translate(-50%, -50%); /* Center the element */
  }
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust z-index as needed */
  /* Add any other styles you want for the fixed header */
}

/*  **************************************************************** carousel *************************************************************************************************/
/* Adjust positioning for mobile */
@media (max-width: 768px) {
  .carousel-paragraph {
    top: 30%; /* Adjusted position for mobile */
    left: 00%; /* Center the paragraph */
    transform: translate(-50%, -50%);
  }
}
/*  **************************************************************** témoignages ***********************************************************************************************/

.section__container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.header__random {
  margin-bottom: 4rem;
}

.header__random p {
  letter-spacing: 4px;
  font-size: 2rem;
  font-weight: 500;
}

.header__random h1 {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  font-weight: 900;
  color: hsl(170, 75%, 41%);
}

.testimonials__grid__random {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-bottom: 4rem;
}

.card__random {
  padding: 2rem;
  display: grid;
  gap: 2rem;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card__random i {
  font-size: 3rem;
  color: gold;
}

.card__random p {
  font-size: 2rem;
  font-weight: 500;
}

.card__random hr {
  width: 80px;
  margin: auto;
  color: hsl(170, 75%, 41%);
}

.card__random img {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 100%;
  border: 2px solid #f4f7fe;
}

.card__random .name__random {
  font-size: 1.8rem;
  font-weight: 400;
  color: #767268;
  transition: 0.3s;
}

.card__random .name__random:hover {
  color: hsl(170, 75%, 41%);
}

@media (max-width: 900px) {
  .testimonials__grid__random {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media (max-width: 600px) {
  .testimonials__grid__random {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*  ********************************************************************************** end témoignages *****************************************************************/

/* *********************************************************************************** start formulaire **************************************************************** */
.modal__circle {
  position: absolute;
  top: 50%;
  left: -100px; /* Adjust as needed */
  height: 2 00px; /* Adjust size as needed */
  width: 200px; /* Adjust size as needed */
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  z-index: -1; /* Move behind form elements */
}

.form-container {
  position: relative; /* Ensure the container is positioned relatively */
  width: 850px;
  padding: 30px;
  margin: 0 auto;
  font-size: 20px;
  margin-top: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;;
}
.form-control {
  font-size: 20px;
  margin-bottom: 10px;
  height:45px;
}
.form-row {
  display: flex;
  justify-content: space-between;
}

.col-md-4, .col-md-6 {
  margin-bottom: 10px;
}

.custom-file {
  margin-bottom: 100px;
}

.form-check input {
  margin-top: 0px;
  display: block;
  width: 20px;
}
.bt {
  display: block;
  margin: 20px auto 0;
  background-color: hsl(170, 75%, 41%); /* Change button background color */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Cursor style */
  transition: background-color 0.3s ease; /* Smooth transition */
}
/* *********************************************************************************** end formulaire **************************************************************** */

/* ***************************************************************** Start Footer ******************************************************************/
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .box .social {
  display: flex;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}
.footer .box .social .facebook {
  background-color: #1877f2;
  text-decoration: none;
}
.footer .box .social .twitter {
  background-color: #1da1f2;
  text-decoration: none;
}
.footer .box .social .youtube {
  background-color: #ff0000;
  text-decoration: none;
}
.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: white;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--kappel);
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  font-size: 25px;
  color: var(--kappel);
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .footer-gallery img {
  width: 80px;
  border: 3px solid white;
  margin: 2px;
}
.image {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
/* ***************************************************************** End Footer ******************************************************************/

/* ***************************************************************** Start condtions de bourse ******************************************************************/
.features {
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .box {
  text-align: center;
  border: 1px solid #ccc;
}
.features .box .img-holder {
  position: relative;
  overflow: hidden;
}
.features .box .img-holder::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 100%;
}
.features .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
.features .box .img-holder img {
  max-width: 100%;
}
.features .box:hover .img-holder::after {
  border-width: 170px 500px 170px 0;
}
.features .box h2 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}
.features .box h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  height: 5px;
  width: calc(100% - 30px);
}
.features .box p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
}
.features .box a {
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 6px;
  transition: var(--main-transition);
}
.features .quality .img-holder::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .quality h2::after {
  background-color: #f44036;
}
.features .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .time .img-holder::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .time h2::after {
  background-color: #009688;
}
.features .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .passion .img-holder::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .passion h2::after {
  background-color: #03a9f4;
}
.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .box:hover a {
  background-position: left bottom;
  color: white;
}

/* *****************************************************************  condtions de bourse ******************************************************************/

.main-title {
  text-transform: uppercase;
  margin: 0 auto 50px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  margin-top:50px;
}
.main-title2 {
  margin-top:0px;
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--kappel);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

.dots {
  background-image: url("../imgs/dots.png");
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}
.dots-up {
  top: 200px;
  right: 0;
}
.dots-down {
  bottom: 200px;
  left: 0;
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

/* ***************************************************************** Start events ******************************************************************/
/* Start Events */
.events {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.events .container {
  display: flex;
  padding:15px;
  align-items: center;
  flex-wrap: wrap;
}
.events img {
  max-width: 450px;
}
@media (max-width: 991px) {
  .events img {
    display: none;
  }
}
.events .info {
  flex: 1;
  width:104%;
  padding-left:15px;
}
.events .info .time {
  display: flex;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
  justify-content: center;
}
.events .info .time .unit {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  text-align: center;
  width: 120px;
  transition: var(--main-transition);
}
.events .info .time .unit span {
  display: block;
  transition: var(--main-transition);
}
.events .info .time .unit span:first-child {
  font-size: 15px;
  padding: 15px;
  color: var(--kappel);
  font-weight: bold;
}
.events .info .time .unit span:last-child {
  padding: 8px 10px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
}
.events .info .time .unit:hover,
.events .info .time .unit:hover span:last-child {
  border-color: var(--kappel);
}
.events .title {
  text-align: center;
  margin-top: 15px ;
  margin-bottom: 15px ;
  font-size: 25px;
}
.events .description {
  text-align: center;
  line-height: 1.7;
  font-size: 19px;
  color: #777;
}
.events .subscribe {
  width: 100%;
  margin-top: 0px;
}
.events .subscribe form {
  width: 600px;
  margin: 10px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .events .subscribe form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 0;
  }
}
.events .subscribe form input[type="email"] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  flex: 1;
  caret-color: var(--kappel);
}
@media (max-width: 767px) {
  .events .subscribe form input[type="email"] {
    border-radius: 0;
  }
}
.events .subscribe form input[type="email"]:focus {
  outline: none;
}
.events .subscribe form input[type="email"]::placeholder {
  transition: opacity var(--main-transition);
}
.events .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}
.events .subscribe form input[type="submit"] {
  border-radius: 50px;
  border: none;
  background-color: var(--kappel);
  color: white;
  font-weight: bold;
  padding: 20px;
  width:200px;
  cursor: pointer;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .events .subscribe form input[type="submit"] {
    border-radius: 0;
  }
}
.events .subscribe form input[type="submit"]:hover {
  background-color: hsl(170,77%,44%);
}
/********************************************************************************** End Events ********************************************************************************/
.dots {
  /* background-image: url("../../dots.png"); */
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}
.dots-up {
  top: 200px;
  right: 0;
}
.dots-down {
  bottom: 200px;
  left: 0;
}
.team .box {
  position: relative;
  width:500px;
}
.team .box::before,
.team .box::after {
  content: "";
  background-color: #f3f3f3;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: var(--main-transition);
}
.team .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}
.team .box::after {
  z-index: -1;
  background-color: #e4e4e4;
  width: 0;
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
.team .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team .box .data img {
  height:347px;
  width: calc(100% - 80px);
  transition: var(--main-transition);
  border-radius: 10px;
  padding-bottom: 10px;
}
.team .box:hover img {
  filter: grayscale(100%);
}
.team .box .data .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.team .box .data .social a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .box .data .social a:hover i {
  color: var(--kappel);
}
.team .box .data .social i {
  color: #777;
  transition: var(--main-transition);
}
.team .box .info {
  padding-left: 100px;
}
.team .box .info h3 {
  padding-left:10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--kappel);
  font-size: 22px;
  transition: var(--main-transition);
}
.team .box .info p {
  padding-left:10px;
  padding-bottom:10px;
  margin-top: 10px;
  margin-bottom: 35px;
}
.team .box:hover .info h3 {
  color: #777;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Start Articles */
.articles {
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}
.articles .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .box img {
  width: 100%;
  max-width: 100%;
}
.articles .box .content {
  padding: 20px;
}
.articles .box .content h3 {
  margin: 0;
  color: #1e272e;
}
.articles .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
}
.articles .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .box .info a {
  color: var(--kappel);
  font-weight: bold;
}
.articles .box .info i {
  color: var(--kappel);
}
.articles .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}
/* End Articles */

/* Start Discount */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.discount .image {
  background-image: url(../imgs/discount-background1.jpg);
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 10s linear infinite;
}
.discount .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(170, 75%, 41%);
  z-index: -1;
}
@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
  }
}
.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }
}
.discount .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.discount .form textarea.input {
  resize: none;
  height: 200px;
}
.discount .form .input:focus {
  outline: none;
}
.discount .form [type="submit"]{
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--kappel);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--kappel);
}

.discount .form [type="submit"]:hover {
  background-color: hsl(170deg 76.45% 35.41%);
}
.discount .content {
  text-align: center;
  padding: 0 20px;
}
.discount .content h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}
.discount .content img {
  width: 300px;
  max-width: 100%;
}
/* End Discount */
.inline-checkbox {
  display: inline-block;
}
.form input {
  padding:10px;
  border: none;
}
/* Start Stats */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-image: url("../../stats.jpg");
  background-size: cover;
  min-height: 300px;
}
.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}
.stats h2 {
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.stats .box {
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  position: relative;
  opacity: 0.8;
  transition: var(--main-transition);
}
.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--kappel);
  transition: 1s;
  height: 0;
}
.stats .box::before {
  top: 0;
  right: 0;
}
.stats .box::after {
  left: 0;
  bottom: 0;
}
.stats .box:hover {
  opacity: 1;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}
.stats .box .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.stats .box .text {
  color: var(--kappel);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}
/* End Stats */
@media (max-width: 767px) {
  .header .main-nav > li:nth-child(1),
  .header .main-nav > li:nth-child(2),
  .header .main-nav > li:nth-child(3),
  .header .main-nav > li:nth-child(4) {
    display: none;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 5px; /* Add padding to the header */
  }

  .header .main-nav {
    display: flex;
    align-items: center; /* Align items vertically */
  }

  .header .main-nav > li:last-child {
    margin-left: 70px; /* Move the last li (hamburger icon) to the right */
  }

  .header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    text-decoration: none;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
  }
}
.to-top {
  background: var(--kappel);
  position: fixed;
  bottom: 16px;
  right:22px;
  width:58px;
  height:55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
  color: white;
}
.to-top:hover{
  background: var(--kappel);
  color: white;
  text-decoration: none;
}
.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}
@media (max-width: 768px) {
  .to-top {
    bottom: 8px;
    right: 97px;
    width: 40px;
    height: 40px;
    font-size: 24px;
  }
  .to-top.active {
    bottom: 16px;
  }
}
@media (max-width: 768px) {
  .main-title {
    font-size: 22px;
    margin-top: 30px;
    padding: 8px 16px;
  }
  .main-title::before,
  .main-title::after {
    width: 8px;
    height: 8px;
  }
  .main-title::before {
    left: -20px;
  }
  .main-title::after {
    right: -20px;
  }
}
.to-top i {
  animation: bouncing 2s infinite;
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
.not {
  
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: #e3f2fd;
}
.not button {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 14px 22px;
  border: none;
  background: var(--kappel);
  border-radius: 6px;
  cursor: pointer;
}
.not button:hover {
  background-color: var(--kappel);
}
.not button.show-modal,
.modal-box {
  position: fixed;
  left: 50%;
  top: 27%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.not.active .show-modal {
  display: none;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}
.not.active .overlay {
  opacity: 1;
  pointer-events: auto;
}
.modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 24px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}
.not.active .modal-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.modal-box i {
  font-size: 70px;
  color: var(--kappel);
}
.modal-box h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}
.modal-box h3 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
}
.modal-box .buttons {
  margin-top: 25px;
}
.modal-box button {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 10px;
}
@media only screen and (max-width: 768px) {
  /* Styles for mobile devices */
  .not {
    max-width: 80%; /* Adjust width for smaller screens */
  }
}